body{
    background-color: Grey;
    color: whitesmoke;
    margin: 20px, 20px, 30px;
    padding:10px
    
    }
 
    img{
       border: 5px solid;
        
        border-color: ghostwhite;
        
    }
    
    h1, h2{
        text-align: center;
        border: 5px groove;
        color: black;
        background-color: whitesmoke;
    }

    nav{
        border: 2px groove;
        color: black;
        background-color: tan;
        margin: 10px;
        padding: 5px;

    }

    footer{
        color: black;
     }

     
     .index-figcap1{
         color: black;
     }

    